# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
dist/
dist-electron/
release/
extracted_exe/
*.exe
Dark_Project_Studio_Portable.exe

# Environment & OS files
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE & Editor directories
.idea/
.vscode/
*.swp
*.swo
